In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("../data/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

## Analisis de las dimensiones del dataset.
Analisar las dimensiones del dataset por cantidad de filas y columnas

In [12]:
dimension = df.shape
f"dimension en filas {dimension[0]} x columnas {dimension[1]}"

'dimension en filas 918 x columnas 12'